#header {
   background: #3d85c6;
   color: white;
   text-align: center;
   padding: 3%;
}

.card-style {
   display: inline-block;
   width: 200px;
   height: 200px;;
   margin: 5px;
   padding: 10px;
   border-style: solid;
   border-color: black;
   border-width: 2px;
   border-radius: 15px;
}

.weather-title {
   display: block;
}